<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ProtectStudentAccesstoTeacherFunction</filter-name>
        <filter-class>fillter.ProtectStudentAccesstoTeacherFunction</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProtectStudentAccesstoTeacherFunction</filter-name>
        <servlet-name>InsertQuizServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>WebquizServlet</servlet-name>
        <servlet-class>servlet.WebquizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListServlet</servlet-name>
        <servlet-class>servlet.SubjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertQuizServlet</servlet-name>
        <servlet-class>servlet.InsertQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStudentServlet</servlet-name>
        <servlet-class>servlet.LoginStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTeacherServlet</servlet-name>
        <servlet-class>servlet.LoginTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherFunctionServlet</servlet-name>
        <servlet-class>servlet.TeacherFunctionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebquizServlet</servlet-name>
        <url-pattern>/Webquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListServlet</servlet-name>
        <url-pattern>/SubjectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertQuizServlet</servlet-name>
        <url-pattern>/InsertQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStudentServlet</servlet-name>
        <url-pattern>/LoginStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTeacherServlet</servlet-name>
        <url-pattern>/LoginTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherFunctionServlet</servlet-name>
        <url-pattern>/TeacherFunction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Webquiz.jsp</welcome-file>
    </welcome-file-list>
</web-app>
